
<div class="footer" >
    <div class="container">  

        <div class="row">    
                               
            <div class="col-lg-4 col-sm-4 col-xs-12">
                
                <div class="single_footer">
                    <h4>About us </h4>
                    <!-- <img src="https://previews.123rf.com/images/macrovector/macrovector1711/macrovector171100083/90216786-online-store-composition-on-grey-background-with-electronic-devices-secure-payment-24h-delivery-serv.jpg" alt="imf pyment footer" style="width: 294; height: 214;" > -->

                    <!-- <ul>
                        <li><a ></a></li>
                        <li><a >  </a></li>
                        <li><a > </a></li>
                        <li><a >

                        </a></li>
                    </ul> -->
                </div>
            </div><!--- END COL --> 
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>Contact</h4>
                    <ul>
                        <li><a >Phone:  +216 71202121</a></li>
                        <li><a >Mobile:  +216  20202121   </a></li>
                        <li><a >Email:  gramp-para@gmail.tn </a></li>
                        <li><a >Address:  RBK, Bloc B31, Elgazala Technopark, Raoued, Gouvernorat de l’Ariana, 2088 Ariana – Tunisie.

                        </a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="single_footer single_footer_address">
                    <h4>Subscribe today</h4>
                    <div class="signup_form">                           
                        <form action="#" class="subscribe">
                            <input type="text" class="subscribe__input" placeholder="Enter Email Address" id="emaill" (change)="this.changeData($event)">
                            <button type="button" class="subscribe__btn" (click)="this.subscribeUser()"><i class="fas fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
                <div class="social_profile">
                    <ul>
                        <li><a href="https://www.facebook.com/grampara"  target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/rihembensaad2"  target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://www.google.com/?hl=ar"  target="_blank"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="https://www.instagram.com/grampara1/

                            "  target="_blank"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>                          
            </div><!--- END COL -->         
        </div><!--- END ROW --> 
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <p class="copyright">Copyright © 2021 <a href="#">RBK </a>.</p>
            </div><!--- END COL -->                 
        </div><!--- END ROW -->                 
    </div><!--- END CONTAINER -->
</div>
