<div class="container" style="border: 0.1px solid #b2bec3;margin-top: 50px;width: 80%;margin-bottom: 10px;padding: 29px;">
    <div class="row" style="font-weight: 500;">
        1 - Address
    </div>
    <div style="margin-left:15px;background-color: rgb(99, 110, 114,0.18);width: 40%;margin-top: 25px;padding: 12px;" >
        <div class="row" style="margin-left: 25px;" >
            Full Name : Achref Ben Thameur
        </div>
        <div class="row" style="margin-left: 25px;" >
            Address Line 1 : Rue Berzinji 
        </div>
        <div class="row" style="margin-left: 25px;" >
            Address Line 2 : Rue Berzinji 
        </div>
        <div class="row" style="margin-left: 25px;" >
            City : El Mida
        </div>
        <div class="row" style="margin-left: 25px;" >
            State : Nabeul
        </div>
        <div class="row" style="margin-left: 25px;" >
            Postal Code : 8044
        </div>
        <div class="row" style="margin-left: 25px;" >
            Phone Number : 55509756
        </div>
    </div>
    <div class="row" style="margin-top: 25px;font-weight: 500;">
        2 - Payment Method
    </div>
    <div style="margin-left: 30px;font-size: 18px;margin-top: 20px;">
            <form name = 'radiocheck'>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="PaymentMethod" id='bitcoin' value="bitcoin" style='background-color:rgb(39, 174, 96);' checked>
                    <label class="form-check-label" for="bitcoin">
                      Bitcoin
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="PaymentMethod" id="cash" value="cash">
                    <label class="form-check-label" for="cash">
                      Cash on Delivery
                    </label>
                  </div>
                </form>
    </div>
    <div class="row" style="margin-top: 15px;margin-left: 50px;">
        Please Don't Close This Page Until Payment Is Done
    </div>
    <div class="row" style="margin-top: 15px;margin-left: 50px;">
        <div class="col-md-3">
            <img src= {{QrCodeLink}} height="200px" width="200px">
        </div>
        <div class="col-md-3 " style="margin-left: 25px;">
            <div class="row" style="margin-top: 15px;">
                Status :  <p style="color:#d63031 ;">UNPAID</p>
            </div>
            <div class="row" style="margin-top: 10px;">
                Address : {{address}}
            </div>
            <div class="row" style="margin-top: 15px;">
                Amount in TND : {{total}} DT
            </div>
            <div class="row" style="margin-top: 15px;">
                Amount in Bitcoin : 0.000005 BTC
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 50px;">
    <div class="row justify-content-end">
        <div class="col-2">
                <div>
                    <button type="button" class="btn btn-success" disabled style="margin-top:10px">Complete</button>
                </div>
        </div>
    </div>
</div>