<div class="container" style="border: 0.1px solid #b2bec3;margin-top: 50px;width: 80%;margin-bottom: 10px;padding: 29px;">
    <div class="row">
        1 - Address
    </div>
    <div style="margin-left:15px;background-color: #dfe6e9;width: 40%;margin-top: 25px;padding: 12px;" >
        <div class="row" style="margin-left: 25px;" >
            Full Name : Achref Ben Thameur
        </div>
        <div class="row" style="margin-left: 25px;" >
            Address Line 1 : Rue Berzinji 
        </div>
        <div class="row" style="margin-left: 25px;" >
            Address Line 2 : Rue Berzinji 
        </div>
        <div class="row" style="margin-left: 25px;" >
            City : El Mida
        </div>
        <div class="row" style="margin-left: 25px;" >
            State : Nabeul
        </div>
        <div class="row" style="margin-left: 25px;" >
            Postal Code : 8044
        </div>
        <div class="row" style="margin-left: 25px;" >
            Phone Number : 55509756
        </div>
    </div>
    <div class="row" style="margin-top: 25px;">
        2 - Payment Method
    </div>
    <div style="margin-left: 30px;font-size: 18px;margin-top: 20px;">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="bitcoin" value="option1" >
            <label class="form-check-label" for="bitcoin">
              Bitcoin
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="cash" value="option2">
            <label class="form-check-label" for="cash">
              Cash at Delivery
            </label>
          </div>
    </div>
</div>
<div class="container" style="margin-bottom: 50px;">
    <div class="row justify-content-end">
        <div class="col-2">
                <div>
                    <button type="button" class="btn btn-primary" style="margin-top:10px">Complete</button>
                </div>
        </div>
    </div>
</div>