<div class='container' >
    <p style="font-size: 17px; color: #95a5a6;"> Home >> Skin >> Rakia </p>
<div class="row" style="width: 120%;margin-top: 10px;">
    <div class="col-xl-1">
        
            </div>
            <div class="col-xl-11">
                Skin
                <div class="row">
                    <div class="col-md-3 try" style="margin-top: 15px;">
                        <app-item-card></app-item-card>
                    </div>
                    <div class="col-md-3" style="margin-top: 15px;">
                        <app-item-card></app-item-card>
                    </div>
                    <div class="col-md-3" style="margin-top: 15px;">
                        <app-item-card></app-item-card>
                    </div>
                    <div class="col-md-3" style="margin-top: 15px;">
                        <app-item-card></app-item-card>
                    </div>
                    <div class="col-md-3" style="margin-top: 15px;">
                        <app-item-card></app-item-card>
                    </div>
                    <div class="col-md-3" style="margin-top: 15px;">
                        <app-item-card></app-item-card>
                    </div>
                </div>
            </div>
</div>
</div>
