<div class='container categories' >
    <p style="font-size: 17px; color: #95a5a6;"> Home >> Skin >> Rakia </p>
<div class="row" style="width: 120%;margin-top: 10px;">
    <div class="col-xl-3" >
        <p style='background-color: #00A86B;color: white; font-size: 19px;font-weight: 400;padding: 8px;text-align: center;'>Filter Products By</p>
        <p style="margin-top: 26px;font-size: 17px;color: #00A86B; font-weight: 400;">FABRICANT :</p>
        <div class='makers'>
            <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="ALANIA">
                        <label class="form-check-label" for="ALANIA">
                            ALANIA
                        </label>
            </div>
            <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="CASTALIA">
                    <label class="form-check-label" for="CASTALIA">
                        CASTALIA
                    </label>
            </div>
        </div>
            <p style="margin-top: 30px;font-size: 17px;color: #00A86B; font-weight: 400;">Prix :</p>
            <input type="range" class="form-range" min="0" max="2000" step="10" id="customRange3" style="width: 100%;">
            </div>
            <div class="col-xl-9">

                <div class="row">
                    <div *ngFor="let product of products; let i = index">
                        <div class="col-md-4 try" style="margin-top: 15px;">
                            <app-item-card [productTitle]="product.title" [Productprice] = "product.price" [productImage] = "product.imageUrl" ></app-item-card>
                        </div>
                    </div>
               

                </div>
            </div>
</div>
</div>
