<form  >

<div class="container register-form">
    <div class="form">
     
        <div class="form-content">
            <div class="note" >
                <p> Register please </p>
            </div>
    
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your First Name *" id='firstName' (change)='this.changeData($event)'  />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Last Name *" id='lastName' (change)='this.changeData($event)'/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email*" id='email' (change)='this.changeData($event)' />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Role  Admin or client *" id='role' (change)='this.changeData($event)' />

                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password *"id='password' (change)='this.changeData($event)'/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Repeat your password *"  id='rpassword' (change)='this.changeData($event)'/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Phone Number *"  id='phone' (change)='this.changeData($event)'/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Zip code *" id='zipCode' (change)='this.changeData($event)' />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="City *" id='city' (change)='this.changeData($event)'/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Adress 1 *" id='adress1' (change)='this.changeData($event)' />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Adress 2 *"  id='adress2' (change)='this.changeData($event)'/>
                    </div>
                   
                  
               

                </div>
             
            </div>
            <button type="button" class="btnSubmit" (click)="postFrom()" >submit</button>
        </div>
    </div>
</div>
</form>

