<form #registerForm="ngForm"  (ngSubmit)="getValues(registerForm.value)">

<div class="container register-form">
    <div class="form">
        <div class="note">
            <p> Register please </p>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your First Name *" ngModal name="firstName"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Last Name *" ngModal name="lastname"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email*" ngModal name="email"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Role  Admin or client *" ngModal name="role"/>

                    </div>
                   
                  
               

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password *" ngModal name="password"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Repeat your password *" ngModal name="rpassword"/>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Phone Number *" ngModal name="phone"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Zip code *" ngModal name="zipcode"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="City *" ngModal name="city"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Adress 1 *" ngModal name="adress1"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Adress 2 *" ngModal name="adress2"/>
                    </div>
                       
                </div>
            </div>
            <button type="button" class="btnSubmit">Submit</button>
        </div>
    </div>
</div>
</form>

