.note
{
    text-align: center;
    font-size: 30px;
    background-color: #0b6623;
    color: #000;
    font-weight: bold;
    line-height: 20px;
    padding: 30px;
    margin: 20px;
}
.form-content
{
    padding: 10%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control{
    border-radius:10px;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}