<div class="container register-form">
    <div class="form">
        <div class="note">
            <p> Register please </p>
        </div>

        <div class="form-content">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your First Name *" (keyup)="getFirst($event)"/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Your Last Name *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Email*" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Role  Admin or client *" value=""/>

                    </div>
                   
                  
               

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Repeat your password *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" placeholder="Phone Number *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Zip code *" value=""/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="City *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Adress 1 *" value=""/>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Adress 2 *" value=""/>
                    </div>
                       
                </div>
            </div>
            <button type="button" class="btnSubmit">Submit</button>
        </div>
    </div>
</div>
