.card-promo {
    display:flex;

    height: 550px;
    
}

.card-item:hover{
    cursor: pointer;
    
    
}
a{
    text-decoration: none;
    color: black;

}



.thumbnail-item{
    margin: auto;
}
.icon-promo-face {
    position: absolute;
    width: 160px;
    height: 70px;
    backface-visibility: hidden;
    padding-top: 10px;
    padding-left: 10px;
    
    background-repeat: no-repeat;
    color: #cf6c1a;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -1px;
    font-size:x-large;
}

.card-img-top {
 width : 100%;
 height : 70%;
 padding-left: 60px;
}



strong {
    font-weight: bold;
    color :#af5e5b;
    box-sizing: border-box;
    padding-left: 980px;
    font-size: xx-large;
    
    
}


.card-sold {
    display:flex;
    padding-left: 130px;
    height : 550px;
    
    
}

.icon-sold-face {
    position: absolute;
    width: 8px;
    height: 70px;
    backface-visibility: hidden;
    padding-top: 10px;
    padding-left: 10px;
    
    background-repeat: no-repeat;
    color: #d47a14;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: -1px;
    font-size:x-large;
}

.sponsored {
    padding-left: 660px;
}

.carousel-inner {
    height: 85%;
    width : 100%;
    
    padding-left: 150px;
}


.sectionTitle{
    height:400px;
    background: linear-gradient(
        rgb(30, 39, 46,0.25), 
        rgb(30, 39, 46,0.25)
      ), url('https://image.freepik.com/vecteurs-libre/conception-fond-abstrait-vectorielle_2065-147.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
    background-attachment: fixed;
    background-position: center;
   
}

.title-section{
    
    font-family: 'Arial', cursive;
    font-weight: 400;
    font-size: 115px;
    position: relative;
    z-index: 1;
    text-shadow:white;
    text-shadow: 1px 1px 4px white;
    /* -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0; */
    color:white;
    margin-top: 120px;
    margin-left: 25%;
}
.sectionTitle1{
    height:400px;
    background: linear-gradient(
        rgb(30, 39, 46,0.25), 
        rgb(30, 39, 46,0.25)
      ), url('https://image.freepik.com/vecteurs-libre/conception-fond-abstrait-vectorielle_2065-462.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 25px;
    background-attachment: fixed;
    background-position: center;
}

.home-page{
        
}

@media only screen and (max-width:768px) {
    .secondRaw{
        display:none;
    }
    .title-section{

        margin-top: 50px;
    }
    .pub-delete{
        display:none;
    }
}


@media only screen and (max-width:1780px) {
    .pub-delete{
        display:none;
    }
}





.orb {
    width: 50px;
    height: 50px;
    background: #999;
    border-radius: 50px;
    display: inline-block;
    margin: 0 24.7px;
    float: left;
    transition: all .2s ease-out;
  }
  
  .orb:hover {
    transform: scale(1.2);
    opacity: .5;
    cursor: pointer;
  }
  

  
  .marquee {
    height: 200px;
    width: 1400px;

    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    margin: 100px auto;
  }
  
  .marquee--inner {
    display: block;
    width: 200%;
    margin: 70px 0;
    position: absolute;
    animation: marquee 20s linear infinite;
  }
  
  .marquee--inner:hover {
    animation-play-state: paused;
  }
  
  /*.half {
    float: left;
    width: 10%;
  }*/
  
  span {
    float: left;
    width: 50%;
  }
  
  @keyframes marquee {
    0% { left: 0; }
    100% { left: -100%; }
  }



.marquee--inner a{
    margin-left:145px;
}