<div class="container-fluid" style="border: 0.1px solid #b2bec3;margin-top: 50px;width: 80%;">
    <div class="row product" style="border-bottom: 0.5px solid #b2bec3;padding: 15px;font-size: 17px;font-weight: 200;">
        <div class="col-md-2" >
             Image
        </div>
        <div class="col-lg-2" style="margin:auto">
            Product title
        </div>
        <div class="col-md-2" style="margin:auto" >
            User
        </div>
        <div class="col-md-2" style="margin:auto" >
            Payment Status
        </div>
        <div class="col-md-2" style="margin:auto" >
            Delivery Status
        </div>
        <div class="col-md-1" style="margin:auto" >
            Info
        </div>
        <div class="col-md-1" style="margin:auto" >
            Edit
        </div>

    </div>
    <div >
        <div class="row product" style="border-bottom: 0.5px solid #b2bec3;padding: 15px;font-size: 17px;font-weight: 200;">
            <div class="col-md-2">
                <img src="https://www.pharma-shop.tn/5431-large_default/a-derma-exomega-defi-baume-emollient-200ml.jpg" height="120px" width="100px" />
            </div>
            <div class="col-md-2" style="margin:auto">
                <p>A-DERMA EXOMEGA CONTROL BAUME EMOLLIENT 200ML</p>
            </div>
            <div class="col-md-2" style="margin:auto" >
                <p>BenThameur@mail.com</p>
            </div>
            <div class="col-md-2" style="margin:auto" >
                    pending
            </div>
            <div class="col-md-2" style="margin:auto" >
                preparing
            </div>
            <div class="col-md-1" style="margin:auto" >
                <button class="btn btn-info" type="button">Info</button>
            </div>
            <div class="col-md-1" style="margin:auto" >
                <button class="btn btn-warning" type="button">Edit</button>
            </div>
    
        </div>
    </div>
</div>
