

<div class="card card-item" style="width: 18rem;margin-right: 10px;height: auto;">
    <img class="card-img-top" src={{productImage}} alt="Card image cap" height="210px" >
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title" style="font-weight: 100;">{{productTitle}} </h5>
      <h4 class="card-title" > {{Productprice}} DT </h4>
      <a href="#" class="btn btn-success" style="font-weight: 200;color: white;width: 80%;">Add To Cart <i class="fa fa-cart-plus"></i></a>
    </div>
  </div>