

<div class="card card-item" style="width: 18rem;">
    <img class="card-img-top" src="https://www.pharma-shop.tn/7873-thickbox_default/ducray-ictyane-creme-riche-nutri-peaux-seches-40ml.jpg" alt="Card image cap">
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title" style="font-weight: 200;">ICTYANE Crème </h5>
      <h4 class="card-title"> 150.99 DT</h4>
      <a href="#" class="btn btn-success" style="width: 70%;font-weight: 200;color: white;">Add To Cart</a>
    </div>
  </div>