

<div class="card card-item" style="width: 18rem;margin-right: 10px;height: auto;">
  <a routerLink="product/:id" style="color: black;text-decoration: none;">  <img class="card-img-top" src={{productImage}} alt="Card image cap" height="210px" > </a>
    <div class="card-body" style="text-align: center;">
      <h5 class="card-title" style="font-weight: 100;" >{{productTitle}} </h5>
      <h4 class="card-title" > {{Productprice}} DT </h4>
      <div  *ngIf ="this.inCart; then alreadyAdded else addtoCart"></div>
       
      
    </div>
  </div>
  <ng-template #alreadyAdded><button  class="btn btn-secondary" style="font-weight: 200;color: white;width: 80%;background-color:#e1b12c;border: #e1b12c;" type="button" (click) = 'this.AddToCart()'>In Cart <i class="fas fa-check"></i></button></ng-template>
  <ng-template #addtoCart>  <button  class="btn btn-success" style="font-weight: 200;color: white;width: 80%;" type="button" (click) = 'this.AddToCart()'>Add To Cart <i class="fa fa-cart-plus"></i></button></ng-template>
