<section class="mb-5">
  <p>Product details</p>
  <div class="row" >
    <div class="col-md-6 mb-4 mb-md-0">
      <div class="mdb-lightbox">
        <div class="row product-gallery mx-1">
          <div class="col-12 mb-0">
            <figure class="view overlay rounded z-depth-1 main-img">
              <a href="{{product.imageUrl}}" target="_blank">
                <img src={{product.imageUrl}}
                  class="img-fluid z-depth-1" > </a>
            </figure>                 
          </div>     
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h5 class="title">{{product.title}}</h5>
      <p class="pt-1">{{product.category}}</p>
      <p class="pt-1">{{product.stock}}</p>
      <!-- price -->
      <h6>
        <p id="reduction_percent_display">-20%</p>
        <span class="text-danger mr-1">{{product.pricePromo}} DT TTC</span>
        <p id="reduction_percent">
        <span class="text-grey"><s>{{product.price}} DT </s></span>
      </h6>
      <p class="pt-2">{{product.producer}}</p>
      <p class="pt-1">{{product.description}}</p>
      <hr>
      <div class="table-responsive mb-2">
        <table class="table table-sm table-borderless">
          <tbody>
            <tr>
              <td class="pl-0 ">Quantity</td>
            </tr>
            <tr>
              <td class="pl-0">
                <div class="def-number-input number-input safari_only mb-0">
                  <span onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                    class="btn btn-success">-</span>
                  <input class="quantityy" min="0"  name="quantity" value="1" type="number">
                  <span onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                    class="btn btn-success">+</span>
                </div>               
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <button type="button" class="btn btn-outline-success btn-md mr-1 mb-3">
        <i class="fas fa-shopping-cart pr-2"></i>Add to cart</button>
        <button type="button" class="btn btn-danger btn-md px-3 mb-3 material-tooltip-main" data-toggle="tooltip"
        data-placement="top" title="Add to wishlist"><i class="far fa-heart"></i></button>
    </div>
  </div>
</section>
