.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.our_price_display {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    font-family: oswald bold,"sans-serif";
    color: #2db674;
    display: inline-block;
    margin-right: 20px;
}
#reduction_percent, #reduction_amount {
    margin-right: 10px;
    padding: 1px 2px;
    font-weight: 600;
    font-family: open sans,sans-serif;
    font-size: 21px;
    line-height: 23px;
    color: #fff;
    background: #f13340;
    border: 1px solid #d02a2c;
}
#old_price {
    padding-bottom: 15px;
    font-size: 13px;
    text-decoration: line-through;
    display: inline-block;
    font-family: open sans,sans-serif;
    line-height: 23px;
}