 .text-danger {
    color: red;
    font-weight: 500;
    font-size:300%;  
} 


#reduction_percent_display {
     color: red;
    font-weight: 500;
    font-size:200%;  
}
.text-grey {
    color: green;
    font-weight: 500;
    font-size:200%;
}
.img-fluid{
    width:80%;
    border: 0.01em solid black;
}
.title{
    font: 2em sans-serif;
    color: green
}
.quantityy {
    border: 1px solid;
    width: 60px;
    height: 39px;
    padding: 0 6px;
    float: left;
    border: 1px solid #d6d4d4;
    line-height: 27px;
    text-align: center;

}
