 .text-danger {
    color: red;
    font-weight: 300;
    font-size:200%;  
} 
#reduction_percent_display {
     color: red;
    font-weight: 500;
    font-size:150%;  
}
.text-grey {
    font-size:100%;
}
.img-fluid{
    width:40%;
    margin-left: 40%;
}
.title{
    font: 1.2em sans-serif;
    
}
.quantityy {
    border: 1px solid;
    width: 60px;
    height: 39px;
    padding: 0 6px;
    float: left;
    border: 1px solid #d6d4d4;
    line-height: 27px;
    text-align: center;
}
