<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img
          src="../../../assets/pictures/logo.png"
          alt=""
          height="50px"
          width="100px"
        />
      </div>
      <div class="div-search-cont">
        <div class="col-sm">
          <div class="input-group">
            <div class="form-outline">
              <input
                type="search"
                id="form1"
                class="form-control"
                placeholder="Search "
              />
            </div>
            <div class="btn-search-pos"></div>
          </div>
        </div>
      </div>
      <div class="btn-search-pos">
        <div class="col-sm">
          <button type="button" class="btn btn-primary" style="background: linear-gradient(105deg, #0cc796,#0b6623, #0cc796); border-radius: 1  0px;
          ">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
     
    </div>
    
  </div>
  <div class="div-price">
     <div class="col-sm">
    <div class="input-group-append">
      <span class="input-group-text">$</span>
      <span class="input-group-text">0.00</span>
    </div>
  </div>
 

     </div>
  <div class="div-btn-pos">
    <button type="button" class="btn btn-light" style="background-color: #CAD3C8; color: black;  "><a
      style="color: black; font-size: 16px;" routerLink="singin" routerLinkActive="active"> sign in</a> </button>
    <button type="button" class="btn btn-light" style="background-color: #CAD3C8;"><a routerLink="register" routerLinkActive="active" style="color: black; font-size: 16px;" >sign up</a> </button>
  </div>
</nav>
<div class="nav-bar-list">
  <nav id="nav-mobile">
    <i class="fas fa-bars"></i>
  </nav>
  <nav id="nav-pc">
    <ul>
      <li class="menu-skin">
        <a> Skin</a>
        <ul class="submenu">
          <li><a class="active"> Hydratants et nourissants
          </a></li>
          <li><a> Anti-âge et anti-rides
          </a></li>
          <li><a> Anti-tâches et dépigmentants
          </a></li>
          <li><a> Nettoyant et démaquillant
          </a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Hair</a>
        <ul class="submenu">
          <li><a>Hair conditioner</a></li>
          <li><a>Shampoo</a></li>
          <li><a>Hair care</a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Organic</a>
        <ul class="submenu">
          
          <li><a>Self-tanner</a></li>
          <li><a>Sunscreen</a></li>
          <li><a>After sun care</a></li>
          <li><a>Solar pack</a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Mother's & Kids</a>
        <ul class="submenu">
          <li><a> Baby screen
          </a></li>
          <li><a> Feeding with milk</a></li>
          <li><a>Face and body hydration</a></li>
          <li><a>Nose-ears</a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Body</a>
        <ul class="submenu">
          <li><a>Hand care</a></li>
          <li><a>Foot care</a></li>
          <li><a>hydration and body nutrition</a></li>
          <li><a>Body scrub and exfoliant</a></li>
          <li><a>Heavy legs</a></li>
          <li><a>Perfume</a></li>

        </ul>
      </li>
      <li class="menu-skin">
        <a>Organic & natural</a>
        <ul class="submenu">
          <li><a>Self-tanner</a></li>
          <li><a>Sunscreen</a></li>
          <li><a>After sun care</a></li>
          <li><a>Solar pack</a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Hygiene</a>
        <ul class="submenu">
          <li><a>Toothbrushes</a></li>
          <li><a>Toothpaste</a></li>
          <li><a>Personal hygiene</a></li>
          <li><a>Shower gels and liquid soaps</a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Men</a>
        <ul class="submenu">
          <li><a>Men Aktiv
          </a></li>
          <li><a>FORTE PHARMA ENERGY TIGRA</a></li>
          
        </ul>
      </li>
      <li class="menu-skin">
        <a>Medical material</a>
        <ul class="submenu">
          <li><a>Blood pressure monitors
          </a></li>
          <li><a>Glucometers
          </a></li>
          <li><a>Weighs Person</a></li>
          <li><a>Thermometers</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
