<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img
          src="../../../assets/pictures/logo.png"
          alt=""
          height="50px"
          width="100px"
        />
      </div>
      <div class="div-search-cont">
        <div class="col-sm">
          <div class="input-group">
            <div class="form-outline">
              <input
                type="search"
                id="form1"
                class="form-control"
                placeholder="Search "
              />
            </div>
            <div class="btn-search-pos"></div>
          </div>
        </div>
      </div>
      <div class="btn-search-pos">
        <div class="col-sm">
          <button type="button" class="btn btn-primary">
            <i class="fas fa-search"></i>
          </button>
        </div>
      </div>
     
    </div>
    
  </div>
  <div class="div-price">
     <div class="col-sm">
    <div class="input-group-append">
      <span class="input-group-text">$</span>
      <span class="input-group-text">0.00</span>
    </div>
  </div>
 

     </div>
  <div class="div-btn-pos">
    <button type="button" class="btn btn-light">sign in</button>
    <button type="button" class="btn btn-light">sign up</button>
  </div>
</nav>
<div class="nav-bar-list">
  <nav id="nav-mobile">
    <i class="fas fa-bars"></i>
  </nav>
  <nav id="nav-pc">
    <ul>
      <li class="menu-skin">
        <a> Skin</a>
        <ul class="submenu">
          <li><a class="active">Rakia</a></li>
          <li><a>B</a></li>
          <li><a>C</a></li>
          <li><a>D</a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Hair</a>
        <ul class="submenu">
          <li><a>A</a></li>
          <li><a>B</a></li>
          <li><a>C</a></li>
          <li><a>D</a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Organic</a>
        <ul class="submenu">
          
          <li><a>A</a></li>
          <li><a>B</a></li>
          <li><a>C</a></li>
          <li><a>D</a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Mother's & Kids</a>
        <ul class="submenu">
          <li><a>A</a></li>
          <li><a>B</a></li>
          <li><a>C</a></li>
          <li><a>D</a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Body</a>
        <ul class="submenu">
          <li><a>A</a></li>
          <li><a>B</a></li>
          <li><a>C</a></li>
          <li><a>D</a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Organic & natural</a>
        <ul class="submenu">
          <li><a>A</a></li>
          <li><a>B</a></li>
          <li><a>C</a></li>
          <li><a>D</a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Hygiene</a>
        <ul class="submenu">
          <li><a>A</a></li>
          <li><a>B</a></li>
          <li><a>C</a></li>
          <li><a>D</a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Men</a>
        <ul class="submenu">
          <li><a>A</a></li>
          <li><a>B</a></li>
          <li><a>C</a></li>
          <li><a>D</a></li>
        </ul>
      </li>
      <li class="menu-skin">
        <a>Medical material</a>
        <ul class="submenu">
          <li><a>A</a></li>
          <li><a>B</a></li>
          <li><a>C</a></li>
          <li><a>D</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
