body {
    font-family: "Courier New", Courier, monospace;
    margin: 0px;
    padding: 0px;
  }
  .btn-search-pos{
    position: relative;
    left: 220px;
  }
  .div-search-cont{
    position: relative;
    left: 250px;
  }
  .div-btn-pos{
   position: relative;
    float:right;
  }
  .div-price{
    position:relative; 
    right: 50px;
 }
  .form-control{
    width: 400px;

  }
  .form-pos-nav{
    position: relative;
    right: 800px;
  }
  nav {
    margin: auto;
        width: 100%;
    background-color: #00a86b;
    align-items: center;
  }
  nav > ul {
    margin-left :95px;
    padding: 0px;
  }
  
  nav > ul::after {
    content: "";
    display: block;
    clear: both;
  }
  nav > ul > li {
    float: left;
    position: relative;
  }
  nav > ul > li > a {
    padding: 20px 30px;
    color: #fff;
  }
  nav > ul > li:hover a {
    padding: 15px 30px 20px 30px;
  }
  nav li {
    list-style-type: none;
  }
  
  .submenu {
    display: none;
  }
  nav a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    cursor: grab;
  }
  
  nav li:hover .submenu {
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 0%;
    padding: 0px;
    z-index: 1000;
  }
  .submenu li {
    border-bottom: 1px solid #ccc;
    background-color: rgb(241, 242, 246,0.9);
  }
  .submenu li a {
    padding: 15px 30px;
    font-size: 13px;
    color: #222538;
    width: 270px;
  }
  .menu-skin:hover {
    border-top: 5px solid #0b6623;
    background-color: #0cc796;
  }
  
  
  .menu-skin .submenu li :hover {
    border-bottom: 0.5px solid #0b6623;
    background-color: white;
    color: #0b6623;
    font-weight: 500;
    font-size: 14px;
    }

  .menu-hair .submenu li :hover {
    border-bottom: 0.5px solid #0b6623;
    }
   
    
  .submenu:hover a {
      color: #000;
      font-weight: bold;
    }
    
    
    #nav-mobile{
      display: none;
    }
    @media screen and (max-width: 1280px) {
      #nav-mobile{
        display: block;
      }
      #nav-pc{
        display: none;
      }
    }
  
  
    /* a.active, a:hover{
        background-color: seagreen;
        transition: .5s;
    } */
    #nav-pc {
      background: linear-gradient(105deg, #0cc796,#0b6623, #0cc796);
  
    }
    .nav-bar{
      width:400px;
      height:40px;
      position:absolute;
      overflow:hidden;
      top:50%;
      left:50%;
      transform:translate(-50%,-50%);
      background:transparent;
      transition:0.5s;
  }
  .overflow-container{
      height:100%;
      width:100%;
      overflow:hidden;
  }
  .links{
      display:inline-block;
      position: absolute;
      width:0;
      transition:all 0.5s;
      overflow:hidden;
      background:rgb(56,186,56);
      color:#fff;
      line-height: var(--nav-height);
      border-radius:var(--nav-half);
  }
  .nav-bar.active .links{
      width:calc(100% - var(--nav-height));
      border-radius:0;
      border-bottom-right-radius:var(--nav-half);
  }
  .content{
      border-radius:var(--nav-half);
      width:calc(100% - var(--nav-height));
      transition: 0.5s;
      height:100%;
      display: inline-block;
      overflow: hidden;
  }
  .nav-bar.active .content{
      border-radius:0;
      border-bottom-right-radius:var(--nav-half);
  }
  .link{
      display:block;
      line-height: var(--nav-height);
      padding:0 30px;
      text-decoration: none;
      color:inherit;
      text-align:center;
      float:left;
      transition:0.3s;
      font-size:20px;
  }
  .link:hover{
      background:rgb(86,206,86);
  }
  .open-nav,.search{
      width:var(--nav-height);
      height:100%;
      background:rgb(56,186,56);
      color:#fff;
      border-radius:50%;
      border:0;
      float:left;
      outline:0;
      transition:0.5s;
  }
  .nav-bar.active .open-nav{
      background:rgb(86,206,86);
      border-radius:0;
      border-top-left-radius:var(--nav-half);
  }
  .nav-bar.active .search{
      border-radius:0;
      border-bottom-right-radius: var(--nav-half);
  }
  .nav-bar.active .search,.search:hover{
      background:rgb(6,156,250);
  }
  .search-bar{
      height:100%;
      border:0;
      padding:20px;
      box-sizing:border-box;
      background:#f8f8f8;
      outline:0;
      width:calc(100% - var(--nav-height));
      display:block;
      font-size:15px;
      float:left;
      transition:0.5s;
  }
  .btn{
    height: calc(1.5em + .75rem + 2px);
  }
  .search-bar:focus{
      background:#efefef;
  }
  .search{
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      background:rgb(56,96,250);
  }
  .nav-bar.active .fa-bars,.nav-bar .fa-close{display: none;}
  .nav-bar.active .fa-close,.nav-bar .fa-bars{display: inline-block;}