<!-- <nav class="navbar navbar-light bg-light">
  <div class="row" style="display: contents;">

      <div class="col-2">
        <a href="/" >
        <img
          src="../../../assets/pictures/logo.png"
          alt=""
          height="50px"
          width="100px"
        /></a>
      </div>
      <div class="div-search-cont col-6" style="display: contents">       
              <input
              type="search"
              id="form1"
              class="form-control "
              placeholder="Search... "
            />         
      </div>
     
      <div class="div-btn-pos col-4">
        <button type="button" class="btn btn-light" style="background-color: #CAD3C8; color: black;  "><a
          style="color: black; font-size: 16px;" routerLink="singin" routerLinkActive="active"> sign in</a> </button>
        <button type="button" class="btn btn-light" style="background-color: #CAD3C8;"><a routerLink="register" routerLinkActive="active" style="color: black; font-size: 16px;" >sign up</a> </button>
        <button type="button" class="btn btn-outline-success btn-md mr-1 mb-3" style="background-color: #0cc796; position: relative; top: 9px; border-radius: 10px; ">
          <a routerLink="payment">
            <i class="fas fa-shopping-cart pr-2"></i> </a></button>
      </div>

      
  </div> 
</nav> -->

<nav class="navbar  navbar-expand-lg navbar-dark nav-pc">
  <div class="col-2">
    <a href="/">
      <img
        src="../../../assets/pictures/logo.png"
        alt=""
        height="50px"
        width="100px"
    /></a>
  </div>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon" style="color: white"></span>
  </button>
  <div
    class="collapse navbar-collapse justify-content-center"
    id="navbarNavDropdown"
    style="z-index: 2"
  >
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="color: white"
        >
          Skin
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b42"
            >BAUME EMOLLIENT</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b43"
            >Evoluderm</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b44"
            >CERINA AROMA</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b45"
            >BARNANGEN</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="color: white"
        >
          Hair
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b43"
            >Hemani</a
          >
          <a
            class="dropdown-item"
            routerLink="product/606b4a68c2834657143e4b49"
          >
            Brazilian Glow Kit Kératine</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b43"
            >Gliss Masque Hydratant</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="color: white"
        >
          Mother & Baby
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Brazilian Glow Kit Kératine</a
          >
          <a
            class="dropdown-item"
            routerLink="product/606b4a68c2834657143e4b43"
          >
            Farmasi Pack</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b42"
            >Garnier</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b46"
            >Melon - Watermelon Yellow</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="color: white"
        >
          Body
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >French Kiss Vanilla</a
          >
          <a
            class="dropdown-item"
            routerLink="product/606b4a68c2834657143e4b48"
          >
            Chocolate - Feathers</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Mix - Cocktail Ice Cream</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Durian Fruit</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="color: white"
        >
          Solar
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Wine - Rosso Del Veronese Igt</a
          >
          <a
            class="dropdown-item"
            routerLink="product/606b4a68c2834657143e4b48"
          >
            Bread - Pita, Mini</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Versatainer Nc - 8288</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Chicken - White Meat With Tender</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          routerLink="product/606b4a68c2834657143e4b48"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="color: white"
        >
          Medical material
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Moisturizing and nourishing</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Anti-aging and anti-wrinkle
          </a>
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Anti-dark spots and depigmenting agents</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Cleanser and makeup remover</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          routerLink="product/606b4a68c2834657143e4b48"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="color: white"
        >
          Brands
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Lemonade - Natural, 591 Ml</a
          >
          <a
            class="dropdown-item"
            routerLink="product/606b4a68c2834657143e4b48"
          >
            Pepper - Black, Whole</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Raspberries - Fresh</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Steampan - Half Size Shallow</a
          >
        </div>
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          routerLink="product/606b4a68c2834657143e4b48"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          style="color: white"
        >
          Organic & Natural
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Coffee Swiss Choc Almond</a
          >
          <a
            class="dropdown-item"
            routerLink="product/606b4a68c2834657143e4b48"
          >
            Corn Meal</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Mushroom - Chanterelle Frozen</a
          >
          <a class="dropdown-item" routerLink="product/606b4a68c2834657143e4b48"
            >Wine - Magnotta, White</a
          >
        </div>
      </li>
    </ul>
  </div>
  <div class=" col-2 " style="float: right;">
    <a
      style="color: black; font-size: 16px; color: white;  padding: 10px; font-size: 25px;"
      routerLink="singin"
      routerLinkActive="active"
    >
      sign in
    </a>
    <a
      routerLink="register"
      routerLinkActive="active"
      style="color: white; font-size: 16px; border: none; padding: 10px; font-size: 25px;"
      >sign up
    </a>


    <a
      routerLink="cart"
      style="
        color: white;
      "
    >
      <i
        class="fas fa-cart-plus"
        style="size: 12x;"
        
       
      ></i>
    </a>
  </div>
</nav>

