<div class="container-fluid" style="border: 0.1px solid #b2bec3;margin-top: 50px;width: 80%;margin-bottom: 10px;">
    <div class="row product" style="border-bottom: 0.5px solid #b2bec3;padding: 15px;font-size: 17px;font-weight: 200;">
        <div class="col-md-2" >
             Image
        </div>
        <div class="col-lg-2" style="margin:auto">
            Product title
        </div>
        <div class="col-md-2" style="margin:auto" >
            price
        </div>
        <div class="col-md-2" style="margin:auto" >
            Quantity
        </div>
        <div class="col-md-2" style="margin:auto" >
            delete
        </div>

    </div>
    <div *ngFor="let product of products; let i = index" >
        

      
        <div class="row product" style="border-bottom: 0.5px solid #b2bec3;padding: 15px;font-size: 17px;font-weight: 200;" >
            <div class="col-md-2">
                <img src={{product.imageUrl}} height="120px" width="100px" />
            </div>
            <div class="col-md-2" style="margin:auto">
             <p>{{product.title}}</p>
            </div>
            <div class="col-md-2" style="margin:auto" >
                <p>{{product.price}} DT </p>
            </div>
            <div class="col-md-2" style="margin:auto;align-items: center;" >
                <button class="btn btn-info" type="button" style="margin-right: 5px;" (click) ="this.decremntQuant(product._id)" >-</button><input disabled value={{product.quantity}}  style="width: 50px;"><button class="btn btn-info" type="button" style="margin-left: 5px;" (click) ="this.incrementquant(product._id)" >+</button>
            </div>
            <div class="col-md-2" style="margin:auto" >
                <button  type="button" (click)="this.deleteFromCart(product._id)" style="color: #d63031;border: none;background-color: transparent;"><i class="fas fa-trash" style="font-size: 20px;color: #d63031;border: none;background-color: transparent;"></i></button>
            </div>
    
        </div>
    
    </div>
    
</div>
<div class="container-fluid" style="margin-bottom: 50px;">
    <div class="row justify-content-end">
        <div class="col-2" style="float:right;">
                <div style="font-size: 18px;font-weight: 400;">
                    Total : {{total}} Dt
                </div>
                
                <div>
                    <a routerLink={{redirect}}>
                     <button type="button" class="btn btn-primary" routerLink={{redirect}} style="margin-top:10px"><a routerLink={{redirect}} > Continue </a></button>
                    </a>
                </div>
            
        </div>
    </div>
</div>